<!DOCTYPE html>
<html class="<%= @home_page ? 'homepage_html' : ''%>">
	<head>
	  	<title>Lnknzr - organize your links</title>
		  <%= stylesheet_link_tag    "application", :media => "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>
		  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body class="<%= @home_page ? 'homepage' : ''%>">

		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |name, msg| %>
                <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
            <% end %>
   			<%= yield %>
   			<% if current_page?(root_url) %>
   				
   			<% else %>
					<%= render 'layouts/footer' %>
			<% end %>
		</div>
	</body>
</html>
